.checkout__product__image {
  img {
    margin: 30px auto 60px auto;
    display: block;
    width: 125px;
    border-radius: 5px;
  }
}

.checkout__title {
  margin: 0;
  margin-top: 40px;
  margin-bottom: 30px;
  color: #5b5855;
}

.checkout__coupons__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.checkout__buttons {
  border-top: 2px solid #f4f2f0;
  display: flex;
  margin: 0 -30px 0 -30px;
  padding: 10px 30px 10px 30px;
  text-align: center;
  .btn {
    margin-right: 10px;
  }
}
